<!-- <button (click)="textFormat()">Add text</button>
<div *ngIf="isTextformat">
  <input id="textformat" type="text" [(ngModel)]="text" />
  <button (click)="textChange($event)" name="addbtn" #textformat>ADD</button>
</div> -->
<input
  type="file"
  accept="image/*"
  name="file"
  id="fileInput"
  #fileInput
  (change)="onImageChange($event)"
/>

<button
  data-toggle="tooltip"
  data-placement="bottom"
  title="Export to image"
  type="button"
  class="btn btn-primary"
  (click)="rasterize()"
  download=""
>
  Export
</button>
<div class="main-container">
  <div class="second-container">
    <canvas id="myCanvas"> </canvas>
  </div>
</div>
<!-- <div>
  <img [src]="imgFile" />
</div> -->
