@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
body, html{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  padding: 0;
  margin: 0;
  background-color: #fff;
}
header{ background: linear-gradient(90deg,#0083C2,#93d129);     padding: 8px}
header .header-main{ display: flex; justify-content: space-between; }
header .header-main .menu-left ul{margin: 0; padding: 0; display: flex; list-style: none;}
header .header-main .menu-left ul li{margin-left: 0.5rem;}
header .header-main .menu-left ul li a{
  text-decoration: none;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  margin: 0;
  max-width: 100%;
  min-width: 80px;
  padding: 0 6px;
  vertical-align: middle;
  align-items: center;
}

.main{display: flex; min-height: calc(100vh - 56px);}
.main aside{flex: 0 0  432px; max-width: 432px; min-height: 100%;}
.main aside .aside-container{display: flex; height: 100%;}
.main aside .aside-container .aside-menu{flex: 0 0 72px; max-width: 72px;  background: #0e1318;}
.main aside .aside-container .aside-menu ul{margin: 0; padding: 0; list-style: none;  display: flex;  flex-direction: column; height: 100%;}
.main aside .aside-container .aside-menu ul li a{
  flex-shrink: 0;
  position: relative;
  height: 72px;
  width: 72px;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0.65;
  cursor: pointer;
}
.main aside .aside-container .aside-menu ul li a:hover{
  opacity: 1;
}

.main aside .aside-container .aside-menu ul li a span.icon{}
.main aside .aside-container .aside-menu ul li a span.text{
  display: block;
  padding: 0 4px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
  height: 18px;
  line-height: 18px;
  font-size: 11px;
  font-weight: 600;
  text-overflow: ellipsis;
  text-align: center;
  user-select: none;
  text-transform: capitalize;
}
.main aside .aside-container .aside-menu ul li.active a{
  background-color: #293039;
  opacity: 1;
}
.main aside .aside-container .menu-visible{background-color: #293039; flex:0 0 calc(100% - 72px); max-width: calc(100% - 72px);  padding-left: 20px; padding-top: 15px; padding-right: 12px;}
.main .main-container{flex: 0 0 calc(100% - 432px); max-width: calc(100% - 432px); background-color: #edf0f2; min-height: 100%;}
.menu-gr .search{position: relative;}
.menu-gr .search input{
  width: 100%;
  padding: 9px 12px 10px;
  box-sizing: border-box;
  border: 1px solid;
  height: 40px;
  cursor: text;
  outline-width: 0;
  font-variant-ligatures: none;
  border-color: transparent;
  appearance: none;
  border: 4px solid transparent;
  color: #0e1318;
  padding-left: 40px;
  border-radius: 4px;
}
.headings{
 margin-top: 1rem;
}
.headings p{color: #fff; margin-bottom: 0; font-size: 14px;}
.headings p strong{ font-weight: 600;}
.card-flat{background-color: hsla(0,0%,100%,.07); border-radius: 4px; padding: 7px 10px; margin-top: 0.5rem; color: #fff; cursor: pointer;}
.srch-glass{
  position: absolute;
  left: 12px;
  top: 5px;
}
.c-h1{
  font-size: 24px;
  font-weight: 600;
}
.c-h2{
  font-size: 20px;
  font-weight: 500;
}
.c-h3{
  font-size: 16px;
  font-weight: 400;
}
/* General Styles */
.btn-wrap{
  display: flex;
  align-items: center;
}
.btn-wrap > *{
  margin: 0 0.25rem;
}
.btn-def{
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  margin: 0;
  max-width: 100%;
  min-width: 80px;
  padding: 0 6px;
  vertical-align: middle;
  align-items: center;
  background-color: hsla(0,0%,100%,.95);
  color: #0e1318;
  min-width: 40px;
}
.btn-def .i-text{
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
}
.toolbar{
  background: #fff;
  border-bottom: 1px solid rgba(57,76,96,.15);
  height: 48px;
  padding: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toolbar .tool-menu{ display: flex; margin: 0; padding: 0; list-style: none;}
.toolbar .tool-menu li{margin: 0 0.35rem; display: flex; align-items: center;}
.toolbar .tool-menu li.color-bg a{
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAABCAIAAAANelpWAAAAAXNSR0IArs4c6QAAAGlJREFUeNpViUEOgjAUBedt3FAXEqgcwPvfzbafkhD8pJWFJpPJ5D19XhDwAQUY4N4dLq69B+Gv9xsVVmmlxw9VMvcqVTBGYy4+mRZj7jyNaD4ZsRC340HGE8qQRTOeXFnNRd/LExR4N5+iHTonVLGhTgAAAABJRU5ErkJggg==");
  background-position: 0 80%;
  background-size: 100% 4px;
}
.toolbar .tool-menu li a{
  position: relative;
  background-color: transparent;
  color: #0e1318;
  transition: background-color .1s linear,border-color .1s linear,color .1s linear;
  min-width: unset;
  padding: 0 2x;
  height: 32px;
  appearance: none;
  background-repeat: no-repeat;
  background-position: 95% center;
  border-radius: 4px;
  cursor: pointer;
}
.toolbar.t-top{}
.toolbar.t-bottom{}

.select-control{
  border: 1px solid rgba(57,76,96,.15);
  background-color: transparent;
  color: #0e1318;
  transition: background-color .1s linear,border-color .1s linear,color .1s linear;
  min-width: unset;
  padding: 3px 25px 3px 10px;
  height: 32px;
  appearance: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0xMS43MSA2LjQ3bC0zLjUzIDMuNTRjLS4xLjEtLjI2LjEtLjM2IDBMNC4zIDYuNDdhLjc1Ljc1IDAgMSAwLTEuMDYgMS4wNmwzLjUzIDMuNTRjLjY5LjY4IDEuOC42OCAyLjQ4IDBsMy41My0zLjU0YS43NS43NSAwIDAgMC0xLjA2LTEuMDZ6Ij48L3BhdGg+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: 95% center;
  border-radius: 4px;
}
.select-control:focus{
  outline: none;
}
.font-size {
  display: flex;
  max-width: 115px;
  flex: 0 0 115px;
}
.btn-out{
  border: 1px solid rgba(57,76,96,.15);
  background-color: transparent;
  color: #0e1318;
  transition: background-color .1s linear,border-color .1s linear,color .1s linear;
  min-width: unset;
  padding: 3px 10px;
  height: 32px;
  appearance: none;
  background-repeat: no-repeat;
  background-position: 95% center;
  border-radius: 4px;
  cursor: pointer;
}
.font-size input{
  border: 1px solid rgba(57,76,96,.15);
  background-color: transparent;
  color: #0e1318;
  transition: background-color .1s linear,border-color .1s linear,color .1s linear;
  min-width: unset;
  padding: 3px 10px;
  height: 32px;
  max-width: 50px;
  cursor: text;
  border-radius: 0;
  text-align: center;
}
