.main-container {
  text-align: center;
  width: 100%;
  border-radius: 5px;
  box-shadow: 2rem;
}
.second-container {
  text-align: center;
  margin: 10rem 0rem 0rem 10rem;
}
.upperContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding-top: 5rem;
}

input.file {
  position: relative;
  text-align: right;
  filter: alpha();
  opacity: 0;
  z-index: 2;
}
.btns {
  background-color: rgb(25, 137, 172);
  color: white;
  font-family: "Times New Roman";
  border-radius: 6px;
  border-width: 0px;
}
.btns-add-text {
  background-color: rgb(58, 94, 116);
  color: white;
  font-family: "Times New Roman";
  border-radius: 6px;
  border-width: 0px;
}
.btn-primary {
  background-color: rgb(224, 212, 40);
  color: rgb(14, 14, 14);
  font-family: "Times New Roman";
  border-radius: 6px;
  border-width: 0px;
  font-weight: 600;
}
