
<!--div class="row">
  <div class="col-lg-1 icon-side-bar">
    <div>
      <button class="btns" onclick="document.getElementById('files').click()">
        <fa-icon [icon]="faCoffee" style="font-size: 5.34477rem"></fa-icon>
        <span class="iconText">Upload</span>
      </button>
      <input
        id="files"
        name="filess"
        type="file"
        (change)="onChangeElement($event)"
        style="display: none"
      />
    </div>
    <div>
      <button class="btns-add-text" (click)="addText()">
        <fa-icon [icon]="faText" style="font-size: 5.34477rem"></fa-icon>
        <span class="iconText">Add Text</span>
      </button>
    </div>
    <div>
      <button
        class="btns"
        onclick="document.getElementById('fileInput').click()"
      >
        <fa-icon [icon]="faBackground" style="font-size: 3.34477rem"></fa-icon>
        <br />ADD BACKGROUND
      </button>
      <input
        type="file"
        accept="image/*"
        name="file"
        id="fileInput"
        #fileInput
        (change)="onImageChange($event)"
        style="display: none"
      />
    </div>
  </div>
  <div class="col-lg-2 side-bar">
    <label>Width</label>
    <input [(ngModel)]="canvaWidth" class="form-control" />
    <label>height</label>
    <input [(ngModel)]="canvaHeigth" class="form-control" />
    <button class="bold-btn" (click)="setCanvaSize()">Set</button>
  </div>
  <div class="col-md-6 container-canva">
    <div class="textHeader">
      <button class="bold-btn" (click)="textBolds()">
        <fa-icon [icon]="faBold" style="font-size: 2rem"></fa-icon>
      </button>

      <button (click)="changeFont('+')" class="plus-minus">
        <fa-icon [icon]="faPlus" style="font-size: 1rem"></fa-icon>
      </button>
      <input
        [value]="textFont"
        class="textFontValue"
        [(ngModel)]="textFont"
        (change)="FontInput(textFont)"
      />
      <button (click)="changeFont2('-')" class="plus-minus">
        <fa-icon [icon]="faMinus" style="font-size: 1rem"></fa-icon>
      </button>

      <input
        type="color"
        class="form-control-color"
        id="text-color"
        data-type="color"
        [value]="textColor"
        [(ngModel)]="textColor"
        (click)="textColors()"
        value="#563d7c"
        title="Choose your color"
        style="margin: 0px 10px 0px 10px"
      />
      <select [(ngModel)]="fontFamily" class="k" (change)="setFontFamily()">
        <option value="arial">Arial</option>
        <option value="helvetica" selected>Helvetica</option>
        <option value="verdana">Verdana</option>
        <option value="courier">Courier</option>
        <option value="Roboto">Roboto</option>
        <option value="Open Sans">Open Sans</option>
        <option value="Zilla Slab">Zilla Slab</option>
        <option value="Lato">Lato</option>
        <option value="Bellefair">Bellefair</option>
        <option value="Fresca">Fresca</option>
        <option value="Raleway">Raleway</option>
        <option value="Open Sans Condensed">Open Sans Condensed</option>
        <option value="Indie Flower">Indie Flower</option>
        <option value="Josefin Sans">Josefin Sans</option>
        <option value="Inconsolata">Inconsolata</option>
        <option value="Pacifico">Pacifico</option>
        <option value="Gloria Hallelujah">Gloria Hallelujah</option>
      </select>
    </div>
    <div class="second-container">
      <canvas id="myCanvas" style="border: 6px solid rgb(80, 85, 155)">
      </canvas>
    </div>
  </div>
</div -->

<div class="wrapper">
  <header>
    <div class="header-main">
      <div class="menu-left">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Files</a></li>
          <li><a href="">Resize</a></li>
        </ul>
      </div>
      <div class="menu-right">
        <div class="btn-wrap">
          <button class="btn-def">
            <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M11.25 15.85l-4.38-4.38a.75.75 0 0 0-1.06 1.06l4.95 4.95c.69.68 1.8.68 2.48 0l4.95-4.95a.75.75 0 1 0-1.06-1.06l-4.38 4.38V4.25a.75.75 0 1 0-1.5 0v11.6zm-7.5 3.4h16.5a.75.75 0 1 1 0 1.5H3.75a.75.75 0 1 1 0-1.5z"></path></svg></i>
            <span class="i-text">Download</span>
          </button>
          <button class="btn-def">
            <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M5 14a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm7 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm7 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"></path></svg></i>
          </button>
        </div>
      </div>
    </div>
  </header>
  <div class="main">
    <aside>
      <div class="aside-container">
        <div class="aside-menu">
          <ul>
            <li>
              <a>
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12.75 13.81v7.44a.75.75 0 1 1-1.5 0v-7.4L9.49 15.6a.75.75 0 1 1-1.06-1.06l2.35-2.36c.68-.68 1.8-.68 2.48 0l2.35 2.36a.75.75 0 1 1-1.06 1.06l-1.8-1.8zM9 18v1.5H6.75v-.01A5.63 5.63 0 0 1 5.01 8.66a6 6 0 0 1 11.94-.4 5.63 5.63 0 0 1 .3 11.23v.01H15V18h1.88a4.12 4.12 0 1 0-1.5-7.97A4.51 4.51 0 0 0 11 4.5a4.5 4.5 0 0 0-4.43 5.29 4.13 4.13 0 0 0 .68 8.2V18H9z"></path></svg>
                </span>
                <span class="text">upload</span>
              </a>
            </li>
            <li class="active">
              <a>
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M18 5.5h-5.25V18c0 .28.22.5.5.5h2a.75.75 0 1 1 0 1.5h-6.5a.75.75 0 1 1 0-1.5h2a.5.5 0 0 0 .5-.5V5.5H6a.5.5 0 0 0-.5.5v1.25a.75.75 0 0 1-1.5 0V5.5C4 4.67 4.67 4 5.5 4h13c.83 0 1.5.67 1.5 1.5v1.75a.75.75 0 1 1-1.5 0V6a.5.5 0 0 0-.5-.5z"></path></svg>
                </span>
                <span class="text">Text</span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2zm0 1.5a.5.5 0 0 0-.5.5v14c0 .28.22.5.5.5h14a.5.5 0 0 0 .5-.5V5a.5.5 0 0 0-.5-.5H5zm5.75 10.1l3.05-4.15a2 2 0 0 1 3.22-.01L21 15.78V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-.09l3.82-5.25a2 2 0 0 1 3.22 0l.7.95zm3.6 4.9H19a.5.5 0 0 0 .5-.5v-2.72l-3.69-4.94a.5.5 0 0 0-.8 0l-3.33 4.53 2.68 3.63zm-5.51-4.96a.5.5 0 0 0-.81 0l-3.44 4.74a.5.5 0 0 0 .41.22h7.5l-3.66-4.96zM8.5 10a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path></svg>
                </span>
                <span class="text">Background</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="menu-visible">
          <div class="menu-gr">
            <div class="search">
              <span class="srch-glass">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M15.2 16.34a7.5 7.5 0 1 1 1.38-1.45l4.2 4.2a1 1 0 1 1-1.42 1.41l-4.16-4.16zm-4.7.16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"></path></svg>
              </span>
              <input  type="search" />
            </div>
            <div class="headings">
              <p><strong>Click text to add to page</strong></p>
              <div class="card-flat c-h1">
                Add a heading
              </div>
              <div class="card-flat c-h2">
                Add a heading
              </div>
              <div class="card-flat c-h3">
                Add a heading
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <div class="main-container">
      <div class="toolbar t-top">
        <ul class="tool-menu">
          <li>
            <select class="select-control">
              <option>Open Sans</option>
              <option>Open Sans Medium</option>
              <option>Open Sans Bold</option>
            </select>
          </li>
          <li>
            <div class="font-size">
              <div class="btn-out up-btn">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 6a.75.75 0 0 1 .75-.75h6.5a.75.75 0 0 1 0 1.5h-6.5A.75.75 0 0 1 2 6z" fill="currentColor"></path></svg>
              </div>
              <input type="text" value="20" />
              <div class="btn-out up-btn">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.25 9.25a.75.75 0 0 0 1.5 0v-2.5h2.5a.75.75 0 0 0 0-1.5h-2.5v-2.5a.75.75 0 0 0-1.5 0v2.5h-2.5a.75.75 0 0 0 0 1.5h2.5v2.5z" fill="currentColor"></path></svg>
              </div>
            </div>
          </li>
          <li class="color-bg">
            <a>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11 2L5.5 16h2.25l1.12-3h6.25l1.12 3h2.25L13 2h-2zm-1.38 9L12 4.67 14.38 11H9.62z" fill="currentColor"></path></svg>
            </a>
          </li>
          <li>
            <a>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M7.08 4.72h4.44c2.03 0 3.5.3 4.41.87.92.57 1.37 1.49 1.37 2.75 0 .85-.2 1.55-.6 2.1-.4.54-.93.87-1.6.98v.1c.91.2 1.56.58 1.96 1.13.4.56.6 1.3.6 2.2 0 1.31-.47 2.33-1.4 3.06A6.1 6.1 0 0 1 12.41 19H7.08V4.72zm3.03 5.66h1.75c.82 0 1.42-.13 1.79-.38.36-.26.55-.68.55-1.26 0-.55-.2-.94-.6-1.18a3.86 3.86 0 0 0-1.9-.36h-1.6v3.18zm0 2.4v3.72h1.97c.83 0 1.45-.16 1.84-.48.4-.32.6-.8.6-1.46 0-1.19-.85-1.78-2.54-1.78h-1.87z"></path></svg>
            </a>
          </li>
          <li>
            <a>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M14.73 6.5l-3.67 11H14l-.3 1.5H6l.3-1.5h2.81l3.68-11H10l.3-1.5H18l-.3 1.5h-2.97z"></path></svg>
            </a>
          </li>
          <li>
            <a>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 21.25a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H6.75a.75.75 0 0 1-.75-.75zM15.754 14.006V5h1.528v8.95c0 1.574-.476 2.807-1.424 3.703-.948.896-2.253 1.347-3.92 1.347-1.667 0-2.952-.454-3.862-1.356-.904-.902-1.358-2.145-1.358-3.733V5h1.528v9.025c0 1.168.32 2.072.966 2.704.646.632 1.592.945 2.83.945 1.183 0 2.1-.313 2.746-.945.646-.638.966-1.548.966-2.723z" fill="currentColor"></path></svg>
            </a>
          </li>
        </ul>
        <ul class="tool-menu">
          <li>
            <a>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8 5a3 3 0 0 1 3-3h2a3 3 0 0 1 3 3h4.25a.75.75 0 1 1 0 1.5H19V18a3 3 0 0 1-3 3H8a3 3 0 0 1-3-3V6.5H3.75a.75.75 0 0 1 0-1.5H8zM6.5 6.5V18c0 .83.67 1.5 1.5 1.5h8c.83 0 1.5-.67 1.5-1.5V6.5h-11zm3-1.5h5c0-.83-.67-1.5-1.5-1.5h-2c-.83 0-1.5.67-1.5 1.5zm-.25 4h1.5v8h-1.5V9zm4 0h1.5v8h-1.5V9z"></path></svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="main-canvas"></div>
      <div class="toolbar">
        <ul class="tool-menu">
          <li>Canvas Size:</li>
          <li>
            <input type="text" class="input-small" placeholder="height">
          </li>
          <li>
            <input type="text" class="input-small"  placeholder="width">
          </li>
          <li>
            <button class="btn-def">Set</button>
          </li>
          <li>
            <button class="btn-def btn-op">Set default</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
