<!-- <button (click)="textFormat()">Add text</button>
<div *ngIf="isTextformat">
  <input id="textformat" type="text" [(ngModel)]="text" />
  <button (click)="textChange($event)" name="addbtn" #textformat>ADD</button>
</div> -->
<div class="upperContainer">
  <div>
    <button
      class="btns"
      style="display: block; width: 120px; height: 37px; margin: 10px"
      onclick="document.getElementById('fileInput').click()"
    >
      ADD BACKGROUND
    </button>
    <input
      type="file"
      accept="image/*"
      name="file"
      id="fileInput"
      #fileInput
      (change)="onImageChange($event)"
      style="display: none"
    />
  </div>
  <button
    class="btns-add-text"
    (click)="addText()"
    style="display: block; width: 120px; height: 30px; margin: 10px"
  >
    ADD Text
  </button>
  <button
    style="display: block; width: 120px; height: 30px; margin: 10px"
    data-toggle="tooltip"
    data-placement="bottom"
    title="Export to image"
    type="button"
    class="btn btn-primary"
    (click)="rasterize()"
    download=""
  >
    Download
  </button>
  <div>
    <button
      class="btns"
      style="display: block; width: 120px; height: 30px; margin: 10px"
      onclick="document.getElementById('files').click()"
    >
      Upload Image
    </button>
    <input
      id="files"
      name="filess"
      type="file"
      (change)="onChangeElement($event)"
      style="display: none"
    />
  </div>
</div>
<div class="main-container">
  <div class="second-container">
    <canvas id="myCanvas" style="border: 6px solid rgb(80, 85, 155)"> </canvas>
  </div>
</div>
<!-- <div>
  <img [src]="imgFile" />
</div> -->
